/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.codegpt
# Mengabaikan semua file dan folder di dalam Controllers/plugin/
Controllers/plugin/**

# Mengabaikan semua file dan folder dalam resources/views/plugin/
resources/views/plugin/**

# Membolehkan index.blade.php dan import.blade.php tetap di-track
!resources/views/plugin/index.blade.php
!resources/views/plugin/import.blade.php

# Mengabaikan file menu_plugin.blade.php
resources/views/partial/menu_plugin.blade.php

# Mengabaikan routes/plugins/ dan app/Imports
routes/plugins/
app/Imports
